/*******ROOTS*******/

:root {
    --colorPrincipal: #182026;
    --blanco: #FFF;
    --auxiliar: #F27B13;
    --fondo:#FD7400;
    --navegacion: #011826;
    --borde: #436073;
    --boton: #E7E8EC;
    --NotoSans: 'Noto Sans', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --Ubuntu: 'Ubuntu', sans-serif;
    --Josefin: 'Josefin Sans', sans-serif;  
}


/******GLOBALES*****/

html {
    box-sizing: border-box;
    font-size: 100%;
    }

  *, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
  }

  body {
      width: 1200px;
      margin: 0 auto!important;
      /* background-color: var(--fondo); */
      color: #FFF;
      background: linear-gradient(110deg, rgba(253,116,0,1) 0%,rgba(255,103,15,0.9) 31%,rgba(255,103,15,0.85) 59%,rgba(255,103,15,0.82) 100%);
      font-family: var(--NotoSans);
  }

  .ocultar {
    display: none;
  }

  .mostar{
    display: block;
  }

  header {
    margin: 3rem auto;
    text-align: center;
    width: 60%;
  }

  header h1 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
  }

  header p {
    letter-spacing: 1.6px;
    

  }

  header > * {
    margin: 1rem;
  } 

  .ingreso {
    color: var(--colorPrincipal);
    background-color: var(--boton);
    margin: 0 auto;
    padding: 1rem 0 0.4rem;
    box-shadow: 2px 2px 8px #A60303;
    /* border: 1px solid var(--colorPrincipal); */
    border-radius: 20px;
    width: 35%;
    height: auto;
  }

  .ingreso form {
     height: auto;
  }

  .ingreso form input, form label, form button, form select{
    margin: 0 auto;
    display: block;
  }

  .ingreso form label {
    text-align: center;
    font-size: 20px;
    color: var(--borde);
    letter-spacing: 1.5px;
  }

  .ingreso form input {
    color: var(--colorPrincipal);
    font-size: 14px;
    letter-spacing: 1px;
    padding: 5px 2px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--colorPrincipal);
    margin: 1.3rem auto;
    width: 18rem;
  }
 
  .ingreso form input:focus{
    outline: 0px;
    border-bottom: var(--borde) 1.5px solid;
  }

  .ingreso form input:focus::placeholder {
    color: transparent;
  }

  #color {
    margin: .5rem auto;
    border: none;
    padding: 0;
    height: 35px;
  }

  #boton {
    margin-top: 1rem;
    border-radius: 5px;
    background-color: #A60303;
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.4s;
    width: 8rem;
  }

  #boton:hover {
    cursor: pointer;
    opacity: 1;
  }
